version: 2.1

commands:
  set_up_unit_test_environment:
    steps:
      - checkout
      - run:
          name: Installing SUDO
          command: 'apt-get update && apt install -y sudo && rm -rf /var/lib/apt/lists/*'
      - run:
          name: Install LCOV
          command: apt update && sudo apt install -y lcov

executors:
  docker-bionic:
    docker:
      - image: "ubuntu:bionic"

jobs:
  unit_tests:
    executor: docker-bionic
    steps:
      - set_up_unit_test_environment

workflows:
  build-and-run-tests:
    jobs:
      - unit_tests
