version: 2.1

commands:
  set_up_unit_test_environment:
    steps:
      - checkout
      - run:
          name: Installing SUDO
          command: 'apt-get update && apt install -y sudo && rm -rf /var/lib/apt/lists/*'
      - run:
          name: Install LCOV
          command: apt update && sudo apt install -y lcov
      - run:
          name: Run SETUP
          command: bash setup.sh -gtest
          
  build_tests:
    steps:
      - run:
          name: Build Tests
          command: 'mkdir build-tests && cd build-tests && cmake -DCMAKE_BUILD_TYPE=Release ../test/unit_tests/ && make'
          
  run_unit_tests:
    steps:
      - run:
          name: Run unit tests
          command: mkdir test-results && mkdir test-results/gtest && ./build-tests/unit_tests --gtest_output="xml:./test-results/gtest/results.xml"
      - store_test_results:
          path: test-results
      - run:
          name: Run LCOV
          command: |
            lcov --capture --directory ./build-tests/ --output-file ./build-tests/coverage.info
            lcov -r "./build-tests/coverage.info" "*.moc" "*moc_*.cpp" "*/test/*" "*/unit_tests/*" "*/gtest/*" "*/c++/*" "*/Eigen/*" "*/gcc/*" -o "./build-tests/coverage-filtered.info"
            genhtml ./build-tests/coverage-filtered.info --output-directory coverage
      - store_artifacts:
          path: coverage
          
  set_up_production_test_environment:
    steps:
      - checkout
      - run:
          name: Installing SUDO
          command: 'apt-get update && apt install -y sudo && rm -rf /var/lib/apt/lists/*'
      - run:
          name: Run SETUP
          command: bash setup.sh
          
  build_production:
    steps:
      - run:
          name: Build Production
          command: 'mkdir build-production && cd build-production && cmake -DCMAKE_BUILD_TYPE=Release ../src/ && make'
          
  run_production_tests:
    steps:
      - run:
          name: Run combustion test
          command: ./build-production/chemical_kinetics ./examples/combustion.in --test

executors:
  docker-bionic:
    docker:
      - image: "ubuntu:bionic"

jobs:
  unit_tests:
    executor: docker-bionic
    steps:
      - set_up_unit_test_environment
      - build_tests
      - run_unit_tests

  production_tests:
    executor: docker-bionic
    steps:
      - set_up_production_test_environment
      - build_production
      - run_production_tests

workflows:
  build-and-run-tests:
    jobs:
      - unit_tests
      - production_tests
