version: 2.1

commands:
  set_up_unit_test_environment:
    steps:
      - checkout
      - run:
          name: Installing SUDO
          command: 'apt-get update && apt install -y sudo && rm -rf /var/lib/apt/lists/*'
      - run:
          name: Install LCOV
          command: apt update && sudo apt install -y lcov
      - run:
          name: Run SETUP
          command: bash setup.sh -gtest
          
  build_tests:
    steps:
      - run:
          name: Build HAMT-TESTS
          command: 'mkdir build-hamt-tests && cd build-hamt-tests && cmake -DCMAKE_BUILD_TYPE=Release ../test/ && make'

executors:
  docker-bionic:
    docker:
      - image: "ubuntu:bionic"

jobs:
  unit_tests:
    executor: docker-bionic
    steps:
      - set_up_unit_test_environment

workflows:
  build-and-run-tests:
    jobs:
      - unit_tests
